@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --color-primary-gradient: linear-gradient(
    208.18deg,
    #67c3f3 9.05%,
    #5a98f2 76.74%
  );
  --color-primary: #458ff6;
  --color-primary-light: #458ff687;
  --color-primary-dark: #233348;
  --color-primary-dark-2: #1f1534;

  --color-text-gray: #7d7987;
  --color-neutral: #ffffff;

  --padding: 4rem 15rem;
  --flex-parent-gap: 8rem;
}

@media only screen and (max-width: 37.5em) {
  :root {
    --padding: 3rem;
    --flex-parent-gap: 4rem;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

& {
  font-size: 62.5%;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 1.8rem;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@media only screen and (max-width: 37.5em) {
  #root {
    position: relative;
  }

  body {
    font-size: 1.4rem;
  }
}

.header {
  padding: var(--padding);
  width: 100%;
  min-height: 100vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem 8rem;
}

@media only screen and (max-width: 37.5em) {
  .header {
    grid-template-columns: 1fr;
    gap: 2rem 0;
  }
}

.nav {
  display: flex;
  align-items: center;
  grid-column: 1 / -1;
}

.nav .logo {
  margin-right: auto;
}

.nav__list {
  font-weight: 400;
  list-style: none;
  color: var(--color-primary-dark-2);

  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav__menu {
  display: none;
}

@media only screen and (max-width: 37.5em) {
  .nav__list {
    transform: translateX(100%);
    visibility: collapse;
    content-visibility: hidden;
    transition: all 1s;
  }

  .show__menu {
    transform: translateX(0);
    position: fixed;
    z-index: 5;
    right: 0;
    top: 0;

    width: 60%;
    height: 100vh;
    text-align: right;
    padding: 13rem 4rem;
    background-color: white;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
    visibility: visible;
    content-visibility: visible;

    flex-direction: column;
  }

  .nav__menu {
    width: 11%;
    display: block;
    height: auto;
    z-index: 10;
  }

  .nav__menu img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .nav__overlay {
    position: fixed;
    left: 0;
    width: 100%;
    height: 200%;
    background: rgba(0, 0, 0, 0.3);
  }
}

.header__content {
  grid-column: 1 / 2;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
}

.header__content p {
  font-size: 2.1rem;
  color: var(--color-text-gray);
}

.header__img {
  grid-column: 2 / 3;
}

.header__img img {
  display: block;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 37.5em) {
  .header__content {
    grid-column: 1 / 3;
    justify-content: flex-start;
  }

  .header__content p {
    font-size: 1.7rem;
  }

  .header__img {
    grid-column: 1 / -1;
  }
}

.section {
  padding: var(--padding);
  color: var(--color-text-gray);

  display: flex;
  align-items: center;
  gap: var(--flex-parent-gap);
}

@media only screen and (max-width: 37.5em) {
  .section {
    flex-direction: column;
    justify-content: center;
  }
}

.section-service {
  flex-direction: column;
}

.section-testimonial {
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.section-article {
  justify-content: center;
  flex-direction: column;
}

.section-download h2 {
  width: 75%;
}

.section-service > p {
  text-align: center;
}

.section-service p {
  color: var(--color-text-gray);
}

.section__img,
.section__info {
  flex: 1;
}

.section__info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.service__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .section__info {
    gap: 2.5rem;
    order: 1;
  }

  .service__card {
    grid-template-columns: 1fr;
  }
}

.service__card .card {
  border-radius: 2rem;
  padding: 4.5rem 3.25rem;
}

.card {
  background-color: var(--color-neutral);
  box-shadow: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.161);

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.card__img img {
  width: 100%;
  height: 100%;
  display: block;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .card,
  .card__content {
    gap: 2rem;
  }
}

.article__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .article__cards {
    grid-template-columns: 1fr;
  }
}

.article__cards .card {
  border-radius: 2rem;
}

.article__cards .card__img {
  width: 100%;
}

.article__cards .card__content {
  padding: 0 3rem 5rem 3rem;
  align-items: flex-start;
  gap: 2rem;
}

.section__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial__container {
  background: var(--color-primary-gradient);
  padding: 5rem;
  border-radius: 2.4rem;
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
}

.testimonial__container h2,
.testimonial__container h3 {
  color: var(--color-neutral);
}

.testimonial__container h2::after {
  background-color: var(--color-neutral);
}

.testimonial__container h3 {
  font-size: 2.2rem;
}

.testimonial__container > div {
  position: relative;
  overflow: hidden;
  width: calc(100% - 5rem);
  height: 20rem;
}

.testimonial__card {
  position: absolute;
  width: 100%;
  height: 100%;

  left: 0;
  top: 0;
  color: var(--color-neutral);

  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial__profile {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.testimonial__profile-img {
  flex: 0 0 auto;
  width: 30%;
}

.testimonial__profile-img img {
  width: 100%;
  height: 100%;
  display: block;
}

.testimonial__profile-content {
  flex: 1;
}

.testimonial__profile,
.testimonial__content {
  flex: 1;
}

.testimonial__btn {
  flex: 0 0 auto;
  width: 30%;

  display: flex;
  justify-content: space-between;
}

.testimonial__btn button {
  border: 0;
  font-size: 3rem;
  font-weight: bold;
  background: transparent;
  color: var(--color-primary);
  cursor: pointer;
}

.testimonial__btn button:disabled {
  color: var(--color-primary-light);
  cursor: not-allowed;
}

@media only screen and (max-width: 37.5em) {
  .testimonial__container {
    gap: 3rem;
    padding: 2.35rem;
  }

  .testimonial__container > div {
    width: 100%;
    height: 30rem;
  }

  .testimonial__container h2 {
    text-align: center;
  }

  .testimonial__card {
    flex-direction: column;
    gap: 1.5rem;
  }

  .testimonial__card h3 {
    font-size: 1.8rem;
  }

  .testimonial__profile {
    flex: 0 0 auto;
    gap: 1.5rem;
  }

  .testimonial__profile-img {
    width: 25%;
    height: auto;
  }

  .testimonial__btn {
    width: 50%;
  }
}

.footer {
  display: grid;
  grid-template-columns: 30% repeat(3, 1fr);
  align-items: start;
  gap: var(--flex-parent-gap);

  padding: 7rem 15rem;
  background: var(--color-primary-gradient);
  color: var(--color-neutral);
}

@media only screen and (max-width: 37.5em) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    padding: var(--padding);
  }
}

.footer .figure {
  background: var(--color-neutral);
  color: var(--color-primary);
}

.footer h3 {
  color: var(--color-neutral);
}

.footer__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

@media only screen and (max-width: 37.5em) {
  .footer__info:nth-of-type(1) {
    grid-column: 1 / -1;
  }
}

.footer__list {
  list-style: none;
  margin-top: 1rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
}

h2 {
  position: relative;
  font-size: 3.6rem;
  font-weight: 700;
  color: #000;
}

h2::after {
  content: "";
  position: absolute;
  bottom: -2rem;

  height: 2px;
  background: rgb(0, 0, 0);
}

.header-sec-1::after {
  left: 50%;
  width: 25%;
  transform: translateX(-50%);
}

.header-sec-2::after {
  left: 0;
  width: 15%;
}

h3 {
  font-size: 2.4rem;
  color: #000;
}

h4 {
  font-size: 2rem;
}

@media only screen and (max-width: 37.5em) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.3rem;
  }

  h2::after {
    bottom: -1rem;
  }
}

a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: underline;
  transition: all 0.3s;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.figure {
  font-size: 2.6rem;
  font-weight: 700;

  width: 3.5rem;
  height: 3.5rem;
  padding: 2rem;
  border-radius: 100%;
  color: var(--color-neutral);
  background-color: var(--color-primary);

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
}

.btn {
  font-size: inherit;
  font-family: inherit;

  padding: 1.5rem 4rem;
  border-radius: 5rem;
  color: var(--color-neutral);
  background-color: var(--color-primary);

  border: 0;
  outline: 0;
}

.btn--1 {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn--3 {
  border: 0;
  padding: 0;
  outline: 0;

  font: inherit;
  font-weight: 600;
  background-color: transparent;
  color: var(--color-primary);
  cursor: pointer;
}

.btn--3 a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn--3 span {
  display: inline-block;
}

.btn:hover {
  cursor: pointer;
  background: var(--color-primary-light);
  transform: scale(1.01);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.btn--1:hover {
  background: transparent;
}

.btn:active {
  transform: scale(0.8);
}
